*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
binstubs/
doc/
lib/bundler/man
binstubs/
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

docker/ngrok
docker/ngrok*.zip
docker/ngrok.log

cache/
lita_config.rb
ngrok.yml
