require "lita-slack"

Lita.configure do |config|
  config.redis[:host] = "redis"

  # Shell config: local config.
  config.robot.adapter = :shell

  # Slack config.
  # config.robot.adapter = :slack
  # config.adapters.slack.token = "<SLACK TOKEN HERE>"

  config.robot.log_level = :debug


  # Global BumpBot configuration.
  # To get your API token:
  # 1. Go to jenkins and log in.
  # 2. Click your name on the top right
  # 3. Click configure on the left
  # 4. Click "show API token"
  config.handlers.versioner.jenkins_username = "YOU"
  config.handlers.versioner.jenkins_api_token = "00000ffff"

  # If set to `false`, polling is disabled entirely.
  # Otherwise, it is the number of seconds between automatic dependency bump
  # attempts.
  config.handlers.versioner.polling_interval = false

  # If set to true, the bot will trigger a jenkins build for dependency
  # updates. Otherwise it will act in a sort of "dry run" mode where it will
  # log a message instead of triggering a build.
  config.handlers.versioner.trigger_real_builds = false

  # Master list of all projects that BumpBot understands.
  config.handlers.versioner.projects = {
    "chef" => {
      pipeline: "chef-trigger-release",
      github_url: "git@github.com:chef/chef.git",
      version_bump_command: "bundle install && bundle exec rake version:bump && git checkout .bundle/config",
      version_show_command: "bundle exec rake version:show",
      dependency_update_command: "bundle install && bundle exec rake dependencies && git checkout .bundle/config",
      inform_channel: "workflow-pool",
    },
    "chefdk" => {
      pipeline: "chefdk-trigger-release",
      github_url: "git@github.com:chef/chef-dk.git",
      version_bump_command: "bundle install && bundle exec rake version:bump && git checkout .bundle/config",
      version_show_command: "bundle exec rake version:show",
      dependency_update_command: "bundle install && bundle exec rake dependencies && git checkout .bundle/config",
      inform_channel: "workflow-pool",
    },
    "harmony" => {
      pipeline: "harmony-trigger-ad_hoc",
      github_url: "git@github.com:chef/lita-test.git",
      version_bump_command: "bundle install && bundle exec rake version:bump_patch",
      version_show_command: "bundle exec rake version:show",
      dependency_update_command: "bundle install && bundle exec rake dependencies && git checkout .bundle/config",
      inform_channel: "chef-notify",
    },
  }
end
